<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/blog.ico')}}" type="image/x-icon">
    
    <title>{% block title %}{% endblock %}-Myblog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles2.css')}}">
</head>
<body>
    <header class="header">
        <div class="nav">
                <div>
                <a href="{{ url_for('blog.index') }}">
                <h1>MyBlog</h1>  
                </a>
            </div>
            
        </div>
        
    </header>

    <section>
        <div class="content">
            <header>{% block header %}{% endblock %}</header>

            {% for message in get_flashed_messages() %}
            <div class="flash"> {{ message }}</div>
            {% endfor %}

            {% block content %}{% endblock %}
        </div>
        
    </section>
    <div class="container__background-triangle">
        <div class="triangle triangle1"></div>
        <div class="triangle triangle2"></div>
        <div class="triangle triangle3"></div>
    </div>

    <div class="container__cards">
        <div class="card">
            <div class="cover__card">
                <img src="{{ url_for('static', filename='img/img-1.jpg')}}" alt="">
            </div>
            <h2>Blog Web</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui sunt eius dolore pariatur. Error, provident et similique sunt voluptate odit eos facere expedita, culpa at officia magnam quia vel eius!</p>
            <hr>
            <div class="footer__card">
                <h3 class="user__name">lorem</h3>
                <i>08 Marzo</i>
            </div>
        </div>
        <div class="card">
            <div class="cover__card">
                <img src="{{ url_for('static', filename='img/img-3.jpg')}}" alt="">
            </div>
            <h2>Laboratorio de programacion web</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui sunt eius dolore pariatur. Error, provident et similique sunt voluptate odit eos facere expedita, culpa at officia magnam quia vel eius!</p>
            <hr>
            <div class="footer__card">
                <h3 class="user__name">Valeria Campos</h3>
                <i>08 Marzo</i>
            </div>
        </div>
        <div class="card">
            <div class="cover__card">
                <img src="{{ url_for('static', filename='img/img-2.jpg')}}" alt="">
            </div>
            <h2>PIA</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui sunt eius dolore pariatur. Error, provident et similique sunt voluptate odit eos facere expedita, culpa at officia magnam quia vel eius!</p>
            <hr>
            <div class="footer__card">
                <h3 class="user__name">Manuel Flores</h3>
                <i>08 Marzo</i>
            </div>
        </div>
    </div>

   



</body>
</html>